{% extends "base.html" %}
{% load v2_extras %}

{% block content %}
<!-- Include CSS Styles -->
{% include "studyprogrammes_v2/includes/styles.html" %}

<div class="space-y-6">
  <!-- Programme Header -->
  {% include "studyprogrammes_v2/includes/programme_header.html" %}

  <!-- Summary Cards -->
  {% include "studyprogrammes_v2/includes/summary_cards.html" %}

  <!-- Student Count Management -->
  {% include "studyprogrammes_v2/includes/student_count_table.html" %}

  <!-- Current Modules Section -->
  {% include "studyprogrammes_v2/includes/modules_list.html" %}
</div>

<!-- Module Modals -->
{% include "studyprogrammes_v2/includes/module_modals.html" %}

<!-- JavaScript -->
{% include "studyprogrammes_v2/includes/scripts.html" %}
{% include "studyprogrammes_v2/includes/drag_drop_script.html" %}
{% endblock %}
